[submodule "modules"]
	path = modules
	url = git://github.com/DCPUTeam/DCPUModules.git
[submodule "kernel"]
	path = kernel
	url = git://github.com/DCPUTeam/AtlasOS.git
[submodule "html5/emscripten"]
	path = html5/emscripten
	url = git://github.com/hachque-Emscripten/emscripten.git
[submodule "third-party/libpng/emscripten"]
	path = third-party/libpng/emscripten
	url = git://github.com/hachque-Emscripten/libpng-1.2.49.git
[submodule "third-party/zlib/emscripten"]
	path = third-party/zlib/emscripten
	url = git://github.com/hachque-Emscripten/zlib-1.2.5.git
